.head {
    width: 100%;
    background: transparent;
    backdrop-filter: none;
    transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
    z-index: 1003;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 0%;
    box-sizing: border-box;
    margin-top: -40px;
}

.menu li {
    margin-right: 25%;
    padding-left: 10px;
    font-weight: bold;
    list-style: none;
    font-size: 30px;
}

.menu a {
    text-decoration: none;
    text-emphasis: none;
    color:black;
}

.logo {
    width: 150px;      
    height: 150px;     
    object-fit: none;
    object-position: center;
}