body {
    padding-top: 100px; 
    
}
.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #2c3e50;
    z-index: 1003;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 25%;
}

.menu li {
    font-weight: bold;
    list-style: none;
    font-size: 30px;
    margin-right: 60px;
}

.menu a {
    text-decoration: none;
    text-emphasis: none;
    color:white;
}

.logo {
    width: 100px;      
    height: 100px;     
    object-position: center;
}