body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .property-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .property-container h1 {
    grid-column: 1 / -1;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .property-info,
  .budget-status {
    background-color: #fafafa;
    padding: 15px;
    border-radius: 6px;
  }

  .property-info p{
    font-size: 25px;
  }

  .property-info span{
    font-size: 20px;
  }
  
  .budget-status p{
    font-size: 20px;
  }

  .budget-status span{
    font-size: 15px;
  }

  .financial-reports {
    background-color: #fafafa;
    padding: 15px;
    border-radius: 6px;
    grid-column: 1 / -1;
  }
  
  .property-info p,
  .budget-status p,
  .financial-reports p {
    margin-bottom: 10px;
  }
  
  .status {
    font-weight: bold;
    
  }
  
  .edit-button, .save-button {
    grid-column: 1 / -1;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    justify-self: center;
    margin-top: 10px;
    position: relative;
  }
  

  .image-slider {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    height: 250px;  
  }
  
  .image-slider .slides {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        flex-shrink: 0;
  }
  

  .image-slider .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  @keyframes slider {
    0% {
      transform: translateX(0%);
    }
    33% {
      transform: translateX(0%);
    }
    44% {
      transform: translateX(-100%);
    }
    77% {
      transform: translateX(-100%);
    }
    88% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-200%);
    }
  } 

.btns {
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    grid-column: 1 / -1;
}